body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-spacing: 16px;
    border: 1px solid #000000a8;
    border-radius: 40px;
    font-size: 32px;
    margin: 50px auto;
    padding: 8px;
}

input {
    text-align: right;
    font-size: 40pt;
    color: white;
    width: 100%;
    height: 100px;
    border: 0;
}

td {
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 360px;
    text-align: center;
    cursor: pointer;
    width: 75px;
    height: 70px;
}

td:hover {
    background-color: rgb(128 128 128 / 9%);
}

input, table {
    background-color: rgb(0 0 0 / 91%);
}

.btn-ação {
    background-color: rgba(255, 166, 0, 0.795);
}